[Unit]
Description=cloudflared
After=network.target

[Service]
TimeoutStartSec=0
Type=notify
ExecStart=/usr/bin/cloudflared --no-autoupdate tunnel --edge-ip-version {% if eff_family == 'ipv4' %}4{% elif eff_family == 'ipv6' %}6{% else %}auto{% endif %} run --token {{ token }}
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
