[Unit]
Description=cloudflared
After=network.target

[Service]
TimeoutStartSec=0
Type=notify
ExecStart=/usr/bin/cloudflared --no-autoupdate tunnel run --token {{ token }}
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
